Checks: >
  *,
  -*-magic-numbers,
  -*-named-parameter,
  -*-no-malloc,
  -*-uppercase-literal-suffix,
  -*-vararg,
  -bugprone-suspicious-string-compare,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -fuchsia-default-arguments,
  -fuchsia-default-arguments-calls,
  -google-runtime-int,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-non-const-parameter,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
